<div class="card">
    <img class="card-img-top" src="src/shirt1.jpeg" alt="Card image cap">
    <div class="card-body card-body-style">
        <h5 class="card-title"><%= name %></h4>
            <p class="card-text"><%= price %></p>
            <p class="card-text"><%= description %></p>
            <input type="number">
            <a href="#" class="btn btn-outline-success my-2 my-sm-0">Add To Cart</a>
    </div>
</div>