<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrap') %> <%- include('./partials/header') %>
  </head>

  <body class="body-style" onload="welcome(); loadItem()">
    <!-- COLLECTION -->
    <div class="container" style="padding: 1vw; text-align: center">
      <h2 id="type_label" style="color: white"></h2>
      <div class="card-columns" id="card_col">
        <!-- Item List -->
      </div>
    </div>
    <%- include('./partials/footer') %>
  </body>

  <script>
    function loadItem() {
      var fetchURL = "";
      if (get("category") != null) {
        fetchURL = myURL + "/items/category/" + get("category");
        document.getElementById("type_label").textContent =
          get("category") + " Collection";
      }

      if (get("name") != null) {
        fetchURL = myURL + "/items/name/" + get("name");
        document.getElementById("type_label").textContent =
          "Search result(s) for " + "'" + get("name") + "'";
      }

      fetch(fetchURL, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: "Basic " + btoa(name + ":" + pass)
        }
      })
        .then(res => {
          return res.json();
        })
        .then(async data => {
          for (i = 0; i < data.length; i++) {
            div = document.createElement("div");
            div.id = data[i].id;
            document.getElementById("card_col").appendChild(div);

            var client_id = 0;
            if (localStorage.getItem("id") != null) {
              client_id = localStorage.getItem("id");
            }
            await fetch(
              myURL +
                "/cart_item/current_cart/client_id/" +
                client_id +
                "/item_id/" +
                data[i].id,
              {
                headers: {
                  "Content-Type": "application/json",
                  Accept: "application/json",
                  Authorization: "Basic " + btoa(name + ":" + pass)
                },
                method: "GET"
              }
            )
              .then(res_i => {
                return res_i.json();
              })
              .then(data_i => {
                if (data_i.length == 0) {
                  document.getElementById(
                    div.id
                  ).innerHTML = `<div class="card">
                    <img class="card-img-top" src="../uploaded_images/item${data[i].id}.png" alt="No Image">
                    <div class="card-body card-body-style">
                      <h4 class="card-title">${data[i].item_name}</h4>
                        <strong class="text-muted">- Origin: </strong>
                        <label class="card-text">${data[i].origin}</label><br>
                        <strong class="text-muted">- Price: </strong>
                        <label class="card-text">$${data[i].price}</label><br>
                        <strong class="text-muted">- Quantity: </strong>
                        <input type="number" id="quantity_input${data[i].id}" step="1" max="99999" min="1" value="1" onChange="quantityEdit(${data[i].id})" oninput="this.value = Math.abs(this.value)"></input><br><br>
                        <button class="btn btn-info rounded-pill py-2 btn-block" type="submit" id="detail_btn${data[i].id}" onclick="toItemDetail(${data[i].id})">Item Detail</button>
                        <button class="btn btn-success rounded-pill py-2 btn-block" type="submit" id="add_to_cart_btn${data[i].id}" onclick="addToCart(${data[i].id})">Add to Cart</button>
                    </div>
                  </div>`;
                } else {
                  document.getElementById(
                    div.id
                  ).innerHTML = `<div class="card">
                    <img class="card-img-top" src="../uploaded_images/item${data[i].id}.png" alt="No Image">
                    <div class="card-body card-body-style">
                      <h4 class="card-title">${data[i].item_name}</h4>
                        <strong class="text-muted">- Origin: </strong>
                        <label class="card-text">${data[i].origin}</label><br>
                        <strong class="text-muted">- Price: </strong>
                        <label class="card-text">$${data[i].price}</label><br>
                        <strong class="text-muted">- Quantity: </strong>
                        <input type="number" id="quantity_input${data[i].id}" step="1" max="99999" min="1" value="${data_i[0].quantity}" onChange="quantityEdit(${data[i].id})" oninput="this.value = Math.abs(this.value)"></input><br><br>
                        <button class="btn btn-info rounded-pill py-2 btn-block" type="submit" id="detail_btn${data[i].id}" onclick="toItemDetail(${data[i].id})">Item Detail</button>
                        <button class="btn btn-danger rounded-pill py-2 btn-block" type="submit" id="add_to_cart_btn${data[i].id}" onclick="removeFromCart(${data[i].id})">Remove from Cart</button>
                    </div>
                  </div>`;
                }
              });
          }
          checkSignedIn();
        });
    }
  </script>

  <%- include('./partials/item_card') %>
</html>
