<!doctype html>
<html>

<head>
    <%- include('./partials/bootstrap') %>
    <%- include('./partials/header') %>
</head>

<body class="body-style" onload="welcome(); loadItem()">
    <div class="container" style="padding-top: 5vw">
        <div class="row py-5 p-4 bg-white rounded shadow-sm item-detail-style">
            <div class="col-md-4">
                <div class="bg-dark rounded-pill px-4 py-3 text-uppercase font-weight-bold" style="color: white">Item
                    Information</div></br>
                <img src="no_image.jpg" id="item_imageview" alt="..." class="img-thumbnail"></br></br>
            </div>

            <div class="col-md-8">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div id="item_name_label" class="bg-dark rounded-pill px-4 py-3 text-uppercase font-weight-bold"
                            style="color: white"></div>
                    </div>

                    <div class="form-group col-md-8">
                        <div class="p-4">
                            <ul class="list-unstyled mb-4">
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Category: </strong>
                                    <h5 id="category_label" class="font-weight-bold">$0</h5>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="p-4">
                            <ul class="list-unstyled mb-4">
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Item ID: </strong>
                                    <h5 id="id_label" class="font-weight-bold">$0</h5>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <div class="p-4">
                            <ul class="list-unstyled mb-4">
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Made in: </strong>
                                    <h5 id="origin_label" class="font-weight-bold">$0</h5>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="p-4">
                            <ul class="list-unstyled mb-4">
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Price: </strong>
                                    <h5 id="price_label" class="font-weight-bold">$0</h5>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <strong class="text-muted">Description: </strong>
                        <textarea name="" cols="30" rows="10" class="form-control" id="des_textarea"
                            disabled="true"></textarea>
                    </div>

                    <div class="form-group col-md-4">
                        <strong class="text-muted" id="quantity_status_label"></strong>
                        <td class="align-middle"><input type="number" class="form-control" id="quantity_input" step="1"
                                max="9999" min="1" value="1" onchange="quantityEdit()" oninput="this.value = Math.abs(this.value)"></td></br>
                        <label type="button" class="btn btn-success rounded-pill py-2 btn-block" id="add_to_cart_btn"
                            style="color: white">Add to Cart</label>
                    </div>
                </div>
            </div>
        </div>
    </div></br></br>
    <%- include('./partials/footer') %>
</body>

<script>
    function loadItem() {
        if (get('id') != null) {
            fetch(myURL + '/item/id/' + get('id'), {
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'Authorization': 'Basic ' + btoa(name + ":" + pass)
                },
                method: 'GET',
            })
                .then((res1) => { return res1.json() })
                .then((data1) => {
                    document.getElementById("item_name_label").textContent = data1[0].item_name
                    document.getElementById("price_label").textContent = '$' + data1[0].price
                    document.getElementById("category_label").textContent = data1[0].category
                    document.getElementById("origin_label").textContent = data1[0].origin
                    document.getElementById("des_textarea").textContent = data1[0].description
                    document.getElementById("item_imageview").src = 'uploaded_images/item' + data1[0].id + '.png'
                    document.getElementById("id_label").textContent = data1[0].id

                    // check addtocart or remove from cart
                    var client_id = 0
                    if (localStorage.getItem("id") != null) {
                        client_id = localStorage.getItem("id")
                    }
                    fetch(myURL + '/cart_item/current_cart/client_id/' + client_id + '/item_id/' + data1[0].id, {
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json',
                            'Authorization': 'Basic ' + btoa(name + ":" + pass)
                        },
                        method: 'GET',
                    }).then((res2) => { return res2.json() })
                        .then((data2) => {
                            if (data2.length == 0) {
                                document.getElementById("quantity_status_label").textContent = "Quantity: "
                                document.getElementById("add_to_cart_btn").textContent = "Add to Cart"
                                document.getElementById("add_to_cart_btn").className = "btn btn-success rounded-pill py-2 btn-block"
                                document.getElementById("add_to_cart_btn").onclick = function () { addToCart(data1[0].id) }
                            } else {
                                document.getElementById("quantity_status_label").textContent = "In Cart: "
                                document.getElementById("quantity_input").value = data2[0].quantity
                                document.getElementById("add_to_cart_btn").textContent = "Remove from Cart"
                                document.getElementById("add_to_cart_btn").className = "btn btn-danger rounded-pill py-2 btn-block"
                                document.getElementById("add_to_cart_btn").onclick = function () { removeFromCart(data1[0].id) }
                            }
                            checkSignedIn()
                        })
                })
        } else {
            document.getElementById("add_item_btn").hidden = false
        }
    }
</script>

<script>
    function addToCart(item_id) {
        document.getElementById("add_to_cart_btn").disabled = true
        document.getElementById("add_to_cart_btn").textContent = "Please wait..."
        var obj = {
            "quantity": document.getElementById("quantity_input").value,
        }

        fetch(myURL + '/cart_item/current_cart/client_id/' + localStorage.getItem("id") + '/item_id/' + item_id, {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'Authorization': 'Basic ' + btoa(name + ":" + pass)
            },
            method: 'POST',
            body: JSON.stringify(obj)
        })
            .then((res) => { return res.json() })
            .then((data) => {
                document.getElementById("add_to_cart_btn").disabled = false
                document.getElementById("quantity_status_label").textContent = "In Cart: "
                document.getElementById("add_to_cart_btn").textContent = "Remove from Cart"
                document.getElementById("add_to_cart_btn").className = "btn btn-danger rounded-pill py-2 btn-block"
                document.getElementById("add_to_cart_btn").onclick = function () { removeFromCart(item_id) }
            })
    }
</script>

<script>
    function removeFromCart(item_id) {
        document.getElementById("add_to_cart_btn").disabled = true
        document.getElementById("add_to_cart_btn").textContent = "Please wait..."

        fetch(myURL + '/cart_item/current_cart/client_id/' + localStorage.getItem("id") + '/item_id/' + item_id, {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'Authorization': 'Basic ' + btoa(name + ":" + pass)
            },
            method: 'DELETE',
        })
            .then((res) => { return res.json() })
            .then((data) => {
                document.getElementById("add_to_cart_btn").disabled = false
                document.getElementById("quantity_status_label").textContent = "Quantity: "
                document.getElementById("add_to_cart_btn").textContent = "Add to Cart"
                document.getElementById("add_to_cart_btn").className = "btn btn-success rounded-pill py-2 btn-block"
                document.getElementById("add_to_cart_btn").onclick = function () { addToCart(item_id) }
            })
    }
</script>

<script>
    function quantityEdit() {
        var obj = {
            "quantity": document.getElementById("quantity_input").value,
        }

        var client_id = 0
        if (localStorage.getItem("id") != null) {
            client_id = localStorage.getItem("id")
        }
        fetch(myURL + '/cart_item/current_cart/client_id/' + client_id + '/item_id/' + get('id'), {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'Authorization': 'Basic ' + btoa(name + ":" + pass)
            },
            method: 'PUT',
            body: JSON.stringify(obj)
        })
            .then((res) => { return res.json() })
            .then((data) => {

            })
    }
</script>

<script>
    function checkSignedIn() {
        if (localStorage.getItem("id") == null) {
            document.getElementById("add_to_cart_btn").onclick = function () { window.location.href = "sign_page" }
        }
    }
</script>

</html>